
.detailed_progress_container1{
    display: flex;
}
.container1_leftside{
    margin-left: 5rem;
    margin-top: 2rem;
}
.search_client{ 
    margin: 1.5rem;
    margin-top: 2.5rem;
    width: 25rem; 
    color: #ACACAC;   
    background-color:white;
    box-shadow: 0.6px 0.6px 2px 1px #ccc;
    border-radius:0.6rem;
    font-size: medium;
    border: none;
    display: flex;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}
#btn1{
    width: auto;
    background-color:white;
    border: none; 
    color: #ACACAC;    
}
.seach_clients_text{
  border: none;  
}
.track_buttons{
  margin-left: 20rem;
}
#btn2{
    background-color: white;
    color: black;
    border: none;
    font-size: larger;
    font-weight: 500;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

}
#btn2:hover{
    border-bottom:0.25rem solid #4B9AFB; 
}
.container1_rightside{
    margin-left: 14rem;
}
.container2_wrapper1{
  width: 42rem;
  display: flex;
  gap: 2rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  background-color: #FDFDFD;
  margin-left: 20rem;
}
.info{
  display: flex;
  flex-direction: column;

}
.symbols{
  display: flex;
}
.detailed_progress_container2{
  display: none;
}


/* Calender css starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12);
  margin-top: 0.5rem;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
 
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 1px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.weeks{
    margin-bottom:0%;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(90% / 7);
  font-size: 0.8rem;
  font-weight: 600;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.days li.active::before{
  background: #a6b0fc;
}
.days li:not(.active):hover::before{
  border: 2px solid #7282FB;
}
.mobview_progressdetails{
  display: none;
}
.steps{
  margin-top: 1rem;
}
.mob_container1_wrapper1{
  margin-left: 5rem;
  border: 1px solid  #e4e1e1;
  box-shadow: 0 4px 7px rgba(0,0,0,0.12);
  border-radius: 0.7rem;
  padding: 1rem;
  width: 260px;
  height: 200px;
}


@media screen and (max-width: 720px) {
  .detailed_progress_container1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container1_leftside{
    margin-left: 1rem;
  }
  .container1_rightside{
    margin-left: 2rem;
}
.track_buttons{
  margin-left: 1rem;
  margin-top: 2rem;
}
.search_client{
  width: auto;
}
.webview_progressdetails{
  display: none;
}
.mobview_progressdetails{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mobview_container1{
  display: none;
}
}